.caro {
  width: 90%;
  background: rgb(4, 207, 221);
  border-radius: 10px;
  padding: 0;
  margin-bottom: 20px;
}
.caroj {
  height: 100px;
}
h1 {
  text-align: center;
}

.pawtitle {
  color: black;
}

.main {
  font-size: 70px;
}
.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide img {
  max-height: 600px;  /* change this to whatever you want */
  object-fit: contain;
}

.title {
  padding-top: 10px;
}

.title p {
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.carousel .control-dots .dot {
  transition: opacity .25s ease-in;
  opacity: .3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.9);
  background: #000;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.description {
  text-align: center;
}

.centerb {
  margin: 0px 5px;
  margin-bottom: 20px;
}

.descb {
  margin-bottom: 10px;
}

.list {
  background: #1A181B;
  padding: 15px 20px;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.portcard {
  margin-bottom: 20px;
}

.carousel.carousel-slider .control-arrow {
    width: 60px;
}
